body {
  text-align: center;
}

input {
  outline: none;
}

.bgImage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.hidden {
  display: none;
}

#login-form input,
#login-form button {
  border: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 50px;
  box-sizing: border-box;
}

#login-form input {
  background-color: #fff;
  margin-right: 5px;
}

#login-form button {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  color: #fff;
  cursor: pointer;

  font-weight: 600;
  letter-spacing: 0.4px;
  text-decoration: none;
  text-transform: uppercase;
}

#todo-text {
  border: none;
  padding: 0 10px;
  border-radius: 10px;
  width: 40%;
  height: 30px;
  opacity: 0.6;
  margin-bottom: 10px;
}

#author,
#city {
  font-size: small;
  opacity: 0.5;
}

.todo-button {
  border: none;
  background: transparent;
}

#todo-list {
  list-style: none;
  margin-right: 50px;
}
